:root {
    --semi-white: #F4F4F9; 
}

#navToolBar {
    list-style-type: none;
    margin-top: -15px;
    margin-bottom: 0;
    padding: 0;
}


.profileContent {
    display: flex;
    color: var(--semi-white);
    flex-direction: row;
    background-color: #495B66;
}

.profile-photo{
    margin-top: 1%; 
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 0;
}

.profile-info{
    margin: 2%; 

}



.profile-photo p {
    
    letter-spacing: 2px;
}

#imgText p {
    font-size: 13px;
    text-align: center;

}


.content h1 {
    margin: 0 0 5px 0;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase; 
    color: var(--semi-white);
}

.wallet-content tr {
    margin-right: 10px;
}

.wallet-content td {
    color: #F4F4F9;
    font-size: 18px;
}

.profile-info a{
    font-size: 10%; 
    text-align: left;
}


/* .profile a {
    text-decoration: none;
    color: var(--semi-white);
} */

/* .profile a:hover {
    color: var(--semi-white);
} */




.profile-info h2 {
    margin: 2%;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}



.profile-setting {
    font-size: 16px;    
    margin: 0px;
    text-transform: lowercase;
}

.user-entry {
    text-transform: lowercase;
    text-transform: capitalize;
}

.profile-right tr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}